<body>
	<h1>landing pages</h1>
	<ul id="onglets">
        
		<li class="actif">#1</li>
        
		<li>#2</li>
        
		<li>#3</li>
	</ul>
    
    
	<div id="contenu">
        
		<div class="item">
			<h2>Premier onglet</h2>
      <p>texte premier onglet...</p>
		</div>
        
        
		<div class="item">
			<h2>Deuxième onglet</h2>
			texte second onglet...
		</div>
        
        
        
		<div class="item">
			<h2>Troisième onglet</h2>
			texte dernier onglet...
		</div>
	</div>
</body>
